.git
.gitattributes
.gitignore
.editorconfig

node_modules
vendor

public/storage
public/build
public/hot

storage/*.key
storage/pail
storage/framework/cache/data
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*.log

.phpunit.cache
.phpunit.result.cache
tests

.idea
.vscode
.fleet
.nova
.zed
.DS_Store
README.md
